.button {
	position: relative;
	display: inline-block;
	text-decoration: none;
	// transition: all 0.2s ease-in-out;
	cursor: pointer;

	&__big {
		padding: vw(16) vw(40);
		border-radius: vw(5);
		background-color: rgb(214, 24, 31);
		color: #ffffff;
		font-size: vw(18);

		@include mobile {
			padding: vm(16) vm(40);
			border-radius: vm(5);
			font-size: vm(24);
		}
	}
	
	&__normal {
		padding: vw(15) vw(20);
		border-radius: vw(5);
		background-color: transparent;
		border: 2px solid #ffffff;
		color: #ffffff;
		font-size: vw(14);

		@include mobile {
			padding: vm(15) vm(20);
			border-radius: vm(5);
			font-size: vm(20);
		}
	}

	&__disable {
		cursor: not-allowed;
	}
}