.button {
	position: relative;
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	cursor: pointer;

	&__big {
		padding: vw(16) vw(40);
		border-radius: vw(5);
		background-color: rgb(214, 24, 31);
		color: #ffffff;
		font-size: vw(18);
	}
	
	&__normal {
		padding: vw(15) vw(20);
		border-radius: vw(5);
		background-color: transparent;
		border: 2px solid #ffffff;
		color: #ffffff;
		font-size: vw(14);
	}
}